<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-inverse">
      <div class="container">
        <nav class="nav navbar-nav navbar-left">
          <span style="font-size: 22px; color: white;">Bookers</span>
        </nav>
        <nav class="navbar-default">
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li>
                <%= link_to user_path(current_user.id) do %>
                  <span class="glyphicon glyphicon-home home">
                    Home
                  </span>
                <% end %>
              </li>
              <li>
                <%= link_to users_path do %>
                  <span class="glyphicon glyphicon-user users">
                    Users
                  </span>
                <% end %>
              </li>
              <li>
                <%= link_to books_path do %>
                  <span class="glyphicon glyphicon-book books">
                    Books
                  </span>
                <% end %>
              </li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <span class="glyphicon glyphicon-log-out logout">
                    logout
                  </span>
                <% end %>
              </li>
            <% else %>
              <li>
                <%= link_to root_path do %>
                  <span class="glyphicon glyphicon-home home" area-hidden="true">
                    Home
                  </span>
                <% end %>
              </li>
              <li>
                <%= link_to home_about_path do %>
                  <span class="glyphicon glyphicon-link about" area-hidden="true">
                    About
                  </span>
                <% end %>
              </li>
              <li>
                <a class="glyphicon glyphicon-edit sign_up" href="/users/sign_up">
                  Sign UP
                </a>
              </li>
              <li>
                <a class="glyphicon glyphicon-log-in sign_in" href="/users/sign_in">
                  login
                </a>
              </li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>

    <%= yield %>
    
  </body>
</html>
